PORT=5055

# Firebase Admin
# Preferred: embed the entire service account JSON.
FIREBASE_SERVICE_ACCOUNT_JSON=

# WhatsApp Cloud API (Meta)
WHATSAPP_ACCESS_TOKEN=EAAaSogT1jCoBQ4WPw6at9ZB7F7upnP4RpjRNHRrSorM8F3JrtszHnJqFYd4KZBzYtM5vO9xH03TVYf29QXc64W0HZB6dTKfqXGQVi8nT6U7zUFwQ7Ny2JqNitaRdFfnPbS6VOlXyN6bDzG3ZBZAe5y5kQgftAAQHpnYUS54DyuqrEX3g64jMZCHFPD71WvjLGgL4iF2UZBTt8zdatgVWwmkxdVGANNyz68AQLQPVRBmrtyu8KJUseFw0fZCIa8F1Fa5GZBYr3buQtHrggBWdmfXZBXlqAZB
WHATSAPP_PHONE_NUMBER_ID=

# Template configuration (optional)
WHATSAPP_TEMPLATE_NAME=token_number
WHATSAPP_TEMPLATE_LANGUAGE=en

# Cron
CRON_EXPRESSION=* * * * *
CRON_BATCH_LIMIT=50

